	<h3 ng-controller="PaperController"> Papers by type </h3>
	<ul class="list-group">
		<h3>Books</h3>
		<li ng-if="paper.book" class="list-group-item" ng-repeat="paper in pub.papers">
			<i ng-repeat="author in paper.book.author"> {{author}}, </i>
			<i ng-show="{{paper.book.author | isNotArray}}"> {{paper.book.author}}, </i>
			<b> {{paper.book.title}}. </b> {{paper.book.publisher}},
			<a href="{{paper.book.ee}}"> DOI,</a>
			{{paper.book.year}}
		</li>
		<h3>Journal papers</h3>
		<li ng-if="paper.article" class="list-group-item" ng-repeat="paper in pub.papers">
			<i ng-repeat="author in paper.article.author"> {{author}}, </i>
			<i ng-show="{{paper.article.author | isNotArray}}"> {{paper.article.author}}, </i>
			<b> {{paper.article.title}} </b>
			{{paper.article.journal}}, vol. {{paper.article.volume}},
			n. {{paper.article.number}}, pp. {{paper.article.pages}},
			<a href="{{paper.article.ee}}"> DOI,</a>
			{{paper.article.year}}
		</li>
		<h3>Conference papers</h3>
		<li ng-if="paper.inproceedings" class="list-group-item" ng-repeat="paper in pub.papers">
			<i ng-repeat="author in paper.inproceedings.author"> <i ng-show="{{author | isValidAuthor}}"> {{author}}, </i></i>
			<i ng-show="{{paper.inproceedings.author | isNotArray}}"> {{paper.inproceedings.author}}, </i>
			<b> {{paper.inproceedings.title}} </b>
			{{paper.inproceedings.booktitle}}, pp. {{paper.inproceedings.pages}},
			<a ng-show="{{paper.inproceedings.ee | isNotArray}}" href="{{paper.inproceedings.ee}}"> DOI,</a>
			<a ng-show="{{paper.inproceedings.ee | isArray}}" href="{{paper.inproceedings.ee[0]}}"> DOI,</a>
			{{paper.inproceedings.year}}
		</li>
	</ul>
